   body {
      font-family: 'Lato', sans-serif;
   }

   input {
      margin:8px 8px 8px 32px;
      font-size:13px;
   }

   .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   .title {
      display: none;
      color: white;
   }

   .burger {
      z-index: 1;
      position: absolute;
      right: 2%;
   }

   @media (min-width: 321px) {
      .title {
         display: block;
      }
   }

/* Map */
   #mapid {
      width: 100vh;
      height: 100vh;
      z-index: 0;
      margin: -8px;
      padding: -8px;
   }

/* Drawer */
   .drawer {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
   }

   .drawer a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
   }

   .drawer a:hover {
      color: #f1f1f1;
   }

   .drawer .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
   }

   @media screen and (max-height: 450px) {
      .drawer {padding-top: 15px;}
      .drawer a {font-size: 18px;}
   }
